*{
    -webkit-box-sizing: border-box;
}
body{  
padding: 0;
margin: 0;
font-family: sans-serif;
background:url(login3.jpg);
background-size:cover;
}
form{
 position:absolute;
 transform:translate(-50%, -50);
 width:350px;
 top: 25%;
 left: 40%;
 height: 420px;
 background:rgba(0,0,0,.5);
 border: radius 15px;
 box-sizing: border-box;

}
h2{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 90px;

}
input[type="text"],[type="password"]{
position: absolute;
outline: none;
border: none;
width: 250px;
height: 35px;
border-bottom: 2px solid #0094ff;
background: none;
padding: 5px;
color: #fff;

}
input[type="text"]{
    top:140px;
    left: 50px;
}
[type="password"]{
    top: 210px;
    left: 50px;
}
input[value="login"]{
    position: absolute;
    top: 305px;
    left: 110px;
    width: 130px;
    height: 35px;
    background: #0077ff;
    border: none;
    outline: none;
    color:#fff;
    border-radius: 15px;
    font-size: 20px;
}
input[value="login"]:hover{
    background: #fff;
    color: #0077ff;
}
p{
    position: absolute;
    top: 360px;
    left: 50px;
    color:#fff;
    cursor: grab;
}